//basic list

.list-default{
	.row{
		padding:$baseline 0;
		border-bottom:1px solid $border-color;
	}
}


.select-list-group{
	.list-group-item{
		border-bottom:1px solid $border-color!important;
		margin-bottom:0;
	}
	.list-group-item-action{
		border:none;
		font-size: 16px;
		font-weight: 600;
		padding: .65rem 1.5rem;
		i{
			font-size: 18px;
		}
		&:focus{
			background:$link-color;
			color:white;
		}
	}
}