;;;

"title": "My folders"

;;;



/ = partial "free-trial-card"


%section.no-padding-bottom
	.container.product-card-container
		.row.margin-bottom
			.col
				.page-header-for-title
					.d-flex.justify-content-between
						.d-inline-block
							%h2.medium-font.title
								My folders
						.d-inline-block
							%button.btn.btn-primary.ml-2{:type=>"button", "data-toggle"=>"modal", "data-target"=>"#createFolderModal"} 
								+ New folder

%section.no-padding-top.no-padding-bottom
	.container.product-card-container
		=partial "search_sort" 

%section
	.container.product-card-container
		.row
			.col-lg-12
				.card
					.padded.double-padding-top.double-padding-bottom
						.double-padding-top.double-padding-bottom
							.text-center
								%img.marign-bottom.double-margin-bottom{:src=>"../images/folder-icon.svg", :width=>"80"}
								%h2
									No folders... yet
								%p.light-text-color.no-margin-bottom
									Folders from your team will appear here
											








#createFolderModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%h2.padding-left
					Create new folder
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×

			.modal-body
				.padded.no-padding-top.no-padding-bottom
					.margin-bottom
						%label
							Folder name
						%form
							.margin-bottom
								%input.form-control.form-control-lg{:type=>"text", :placeholder=>"Enter folder name"}
			.modal-footer.no-border-top
				%button.btn.btn-link{:tyle=>"button", "data-dismiss" => "modal"}
					Cancel
				%button.btn.btn-primary{:tyle=>"button", :onclick=>"location.href='/folders/folder';"}
					Create folder
					