
.page-header-for-title
	.d-flex.justify-content-between
		.d-inline-block
			%h2.medium-font.title
				=title
		.d-inline-block
			%a.btn.btn-primary{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#inViteMembers"} 
				+ Add members