;;;

"layout": "blank"

;;;


%nav.navbar.navbar-light.bg-light.fixed-top.navbar-expand-sm.border-bottom
	.container-fluid
		.navbar-nav.mr-auto
		%div
			.navbar-nav
				.nav-item
					%a.nav-link.primary-text-color{:href => "/product/review"}
						%i.material-icons
							close

%section.export-header
	.container
		.row.align-items-center.justify-content-center
			.col-md-9
				%h2.double-margin-bottom
					Project settings
				%nav.nav.primary-tabs
					%a.nav-link{:href=>"/product/settings"}
						General
					%a.nav-link{:href=>"/product/settings/widget"}
						Widget
					%a.nav-link.active{:href=>"/product/settings/widget"}
						Integrations
				%hr.no-margin
				.settings-container.double-margin-top
					.settings-section.double-margin-bottom
						.card.mb-4
							.card-body
								.d-flex.justify-content-between.align-items-center
									.media.align-items-center
										%img.max-width.mr-4{:src=>"/images/integration-icon-chathq.png", :width=>"90px"}
										.media-body
											%h2.mb-1.bold-font.align-middle
												ChatHQ
											%h4
												Send notifications to Chat HQ.
									.dropdown
										%button.btn.btn-flat.btn-icon{"data-toggle" => "dropdown", :type=>"button"}
											%i.material-icons
												more_vert
										.dropdown-menu.dropdown-menu-right
											%a.dropdown-item{:href=>"/export/chathq/connect"} 
												Connect
						.card.mb-4.border-success
							.card-body
								.d-flex.justify-content-between.align-items-center
									.media.align-items-center
										%img.max-width.mr-4{:src=>"/images/integration-icon-chathq.png", :width=>"90px"}
										.media-body
											%h2.mb-1.bold-font.align-middle
												ChatHQ
												.badge.badge-pill.badge-success.align-middle.ml-1
													Active
											%h4
												Send notifications to Chat HQ.
									.dropdown
										%button.btn.btn-flat.btn-icon{"data-toggle" => "dropdown", :type=>"button"}
											%i.material-icons
												more_vert
										.dropdown-menu.dropdown-menu-right
											%a.dropdown-item{:href=>"/export/chathq/settings"} 
												Settings
											.dropdown-divider
											%button.dropdown-item{:type=>"button"} 
												Disconnect



						.card.mb-4
							.card-body
								.d-flex.justify-content-between.align-items-center
									.media.align-items-center
										%img.max-width.mr-4{:src=>"/images/integration-icon-jira.png", :width=>"90px"}
										.media-body
											%h2.mb-1.bold-font.align-middle
												Jira
											%h4
												Send notifications to Chat HQ.
									.dropdown
										%button.btn.btn-flat.btn-icon{"data-toggle" => "dropdown", :type=>"button"}
											%i.material-icons
												more_vert
										.dropdown-menu.dropdown-menu-right
											%a.dropdown-item{:href=>"/export/jira/connect"} 
												Connect


