;;;

"layout": "full-screen"

;;;

%section.no-padding-bottom.no-padding-top
	.container
		/ .row
		/ 	.col-lg-12
		/ 		.alert-container
		/ 			.alert.alert-info.padding-top.padding-bottom
		/ 				.container.product-card-container.text-center
		/ 					%h3.no-margin-bottom
		/ 						%span.bold-font
		/ 							Oops: 
		/ 						The plan you selected only allows for 4 projects. You currently have 5 projects. You'll need to trim down a bit to use the basic plan.
		.row.justify-content-center
			.col-lg-9
				%h2.text-center.medium-font
					Upgrade and take your process to the next level. 
				/ %p.light-text.text-center
				/ 	You've reached your 1 project limit. You can either archive or delete a project, or upgrade for more projects!



%section.no-padding-top
	.padded
		.container-fluid{:style=>"max-width:1260px;"}
			.row.text-center
				.col-12
					.margin-top.double-margin-bottom
						.form-check.form-check-inline.custom-radio.quarter-margin-bottom
							%input#inlineRadio1.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}
								%label.form-check-label{:for => "inlineRadio1"} 
									%h3.no-margin.medium-font
										Billed monthly
						.form-check.form-check-inline.custom-radio.quarter-margin-bottom
							%input#inlineRadio2.form-check-input{:name => "inlineRadioOptions", :type => "radio", :value => "option2", :checked=>"checked"}
								%label.form-check-label{:for => "inlineRadio2"} 
									%h3.no-margin.medium-font
										Billed yearly (20% savings)




			.row.justify-content-center
				.col-12
					.row.justify-content-center


						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto
								.card-header{:style=>"border-top-color:#000;"}
									%h1.medium-font.quarter-margin-bottom
										Starter
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											0
										%span.month
											\/ month
									%ul.card-list.list-unstyled.margin-top
										%li
											%span.medium-font
												1 project
										%li
											%span.medium-font
												25 notes
										%li.tooltip-highlight{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											%span.medium-font
												Unlimited collaborators
											
									.half-padding-top
										%a.btn.btn-secondary.btn-block.btn-lg.disabled{:href=>"/billing/pay"}
											Current plan
								.card-body
									%h4.bold-font.margin-bottom
										Plus
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											Video feedback
										%li
											Embedable widget
										%li
											File Attachments
										%li
											@mentions
										%li
											Assignments
										%li
											Priority labels
										%li
											Notifications
										%li
											Project archive
										



						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto
								.card-header{:style=>"border-top-color:#FF4E4A;"}
									%h1.medium-font.quarter-margin-bottom
										Freelance
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											29
										%span.month
											\/ month
									%ul.card-list.list-unstyled.margin-top
										%li
											%span.medium-font
												3 projects
										%li
											%span.medium-font
												Unlimited notes
										%li.tooltip-highlight{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											%span.medium-font
												Unlimited collaborators
											
									.half-padding-top
										%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
											%span.bold-font
												Get Freelance
								.card-body
									%h4.bold-font.margin-bottom
										Everything in Starter, plus
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											Export to Trello and Jira
										%li
											Remove Volley branding
										%li
											%span.tooltip-highlight{"data-toggle"=>"tooltip", :title=>"Make widget visible to project members only"}
												Widget visibility options
										%li
											Delete notes




						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto.popular
								.card-header{:style=>"border-top-color:#FFAA00;"}
									%h1.medium-font.quarter-margin-bottom
										Team
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											79
										%span.month
											\/ month
									%ul.card-list.list-unstyled.margin-top
										%li
											%span.medium-font
												25 projects
										%li
											%span.medium-font
												Unlimited notes
										%li.tooltip-highlight{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											%span.medium-font
												Unlimited collaborators
											
									.half-padding-top
										%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
											%span.bold-font
												Get Team
								.card-body
									%h4.bold-font.margin-bottom
										Everything in Freelance, plus
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											Team workspaces
										%li
											%span.tooltip-highlight{"data-toggle"=>"tooltip", :title=>"Team members can create and join projects within shared team workspaces. It is posible to add members to multiple workspaces."}
												4 team members
										%li
											Project folders - coming soon
										

						.col-sm-12.col-md-12.col-lg-3.col-xl-3.margin-bottom
							.card.price-card.margin-auto
								.card-header{:style=>"border-top-color:#77C4FF;"}
									%h1.medium-font.quarter-margin-bottom
										Unlimited
									%h1.display-5.inline
										%span.price.bold-font
											$
										%span.bold-font.dollar-ammount
											190
										%span.month
											\/ month
									%ul.card-list.list-unstyled.margin-top
										%li
											%span.medium-font
												Unlimited projects
										%li
											%span.medium-font
												Unlimited notes
										%li.tooltip-highlight{"data-toggle"=>"tooltip", :title=>"Collaborators are invited into a single project. Collaborators can create and respond to feedback within a project."}
											%span.medium-font
												Unlimited collaborators
											
									.half-padding-top
										%a.btn.btn-primary.btn-block.btn-lg{:href=>"/billing/pay"}
											%span.bold-font
												Get Unlimited
								.card-body
									%h4.bold-font.margin-bottom
										Everything in Basic, plus
									%ul.card-list.list-unstyled.icon-list-better.check-list
										%li
											Unlimited team members
										%li
											Enterprise Level Support
										%li
											Dedicated Account Manager
										
%section.no-padding-top
	.container
		.row.justify-content-center
			.col-lg-9
				.text-center
					%h5.light-text-color.medium-font{:style=>"letter-spacing:.5px;"}
						HUNDREDS OF HAPPY CUSTOMERS, INCLUDING
					.padding-top
						%img.d-inline{:src=>"../images/logo-brandfolder.png", :width=>"146px"}
						%img.d-inline{:src=>"../images/logo-gempages.png", :width=>"146px"}
						%img.d-inline{:src=>"../images/logo-approve-me.png", :width=>"146px"}
						%img.d-inline{:src=>"../images/logo-nextiva.png", :width=>"146px"}
						%img.d-inline{:src=>"../images/logo-silverstripe.png", :width=>"146px"}
		.row.justify-content-center
			.col-lg-7
				.text-center
					.padded.double-padding-top
						%h3{:style=>"line-height:1.6em;"}
							“Volley is without a doubt the biggest timesaver I have come across in a very long time. It literally takes seconds to create a note that includes both a screenshot of the issue and a written description.”
						%h4.bold-font.margin-top
							Mathias Hoffmann - CTO


/ %section
/ 	.text-center
/ 		%img{:src=>"../images/appsumo-logo.svg", :width=>"140px"}
/ 		%p.medium-font.no-margin-bottom
/ 			Have an AppSumo code? 
/ 			%a{:href=>"/settings/appsumo"}
/ 				Redeem here




